services:
  redis:
    image: redis:7.2
    container_name: redis-demo
    restart: unless-stopped

    command: redis-server --requirepass redispassword

    ports:
      - "6379:6379"

    volumes:
      - redis_data:/data

volumes:
  redis_data:
